@model PaginatedList<BugTracker.Models.BugStats>
@{
    ViewBag.Title = "About";
}
<h2>Statistics</h2>
<table border="1">
    <tr>
        <td>
            Total Number of Bugs
        </td>
        <td>
            @ViewBag.total
        </td>
    </tr>
    <tr>
        <td>
            Open Bugs
        </td>
        <td>
            @ViewBag.open
        </td>
    </tr>
    <tr>
        <td>
            Closed Bugs
        </td>
        <td>
            @ViewBag.closed
        </td>
    </tr>
    <tr>
        <td>
            Total Number of Users
        </td>
        <td>
            @ViewBag.users
        </td>
    </tr>
    <tr>
        <td>
            Total Number of Assignees
        </td>
        <td>
            @ViewBag.assignees
        </td>
    </tr>
</table>
<h3>
</h3>
<table border="1">
    <tr>
        <th>
            Filing Date
        </th>
        <th>
            Bugs
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileDate)
            </td>
            <td>
                @item.FileCount
            </td>
        </tr>
    }
</table>
@if (Model.HasPreviousPage)
{
    @Html.ActionLink("Previous", "About", "Bugs", new { pageNumber = (Model.PageIndex - 1) }, null)

}
@if (Model.HasNextPage)
{
    @Html.ActionLink("Next", "About", "Bugs", new { pageNumber = (Model.PageIndex + 1) }, null)
}

