@model PaginatedList<BugTracker.Models.BugStats>
@{
    ViewBag.Title = "About";
}
<!--About a eklemeler yapılabilir admin için ekstra vs-->
<div class="row top-buffer">
    <h3 class="display-4">Statistics</h3>
</div>
<div class="row top-buffer">
    <table class="table table-striped text-center table-bordered">
        <tr>
            <th>
                Total Bug Count
            </th>
            <th>
                Open Bug Count
            </th>
            <th>
                Closed Bug Count
            </th>
            <th>
                User Count
            </th>
            <th>
                Assignee Count
            </th>
        </tr>
        <tr>
            <td>
                @ViewBag.total
            </td>
            <td>
                @ViewBag.open
            </td>
            <td>
                @ViewBag.closed
            </td>
            <td>
                @ViewBag.users
            </td>
            <td>
                @ViewBag.assignees
            </td>
        </tr>
    </table>
    <h3>
    </h3>
    <table class="table table-striped text-center table-bordered">
        <tr>
            <th>
                Filing Date
            </th>
            <th>
                Bugs
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileDate)
                </td>
                <td>
                    @item.FileCount
                </td>
            </tr>
        }
    </table>
</div>
<div class="row text-center top-buffer">
    <div class="col">
        @if (Model.HasPreviousPage)
        {
            @Html.ActionLink("Previous", "About", "Bugs", new { pageNumber = (Model.PageIndex - 1) }, new { @class = "btn btn-outline-primary" })

        }
    </div>
    <div class="col">
        @if (Model.HasNextPage)
        {
            @Html.ActionLink("Next", "About", "Bugs", new { pageNumber = (Model.PageIndex + 1) }, new { @class = "btn btn-outline-primary" })
        }
    </div>
</div>
