@model BugTracker.Models.Bug

@{
    ViewBag.Title = "Details";
}
<div class="row top-buffer col-md-12">
    <div class="col col-md-12">
        <h3 class="display-4">Bug Details</h3>
    </div>
</div>

<div class="row top-buffer col-md-12">
    <div class="col col-md-12">
        <table class="table table-striped text-center table-bordered">
            <tr>
                <th>
                    <p class="text-secondary">Title</p>
                </th>
                <th>
                    <p class="text-secondary">Severity</p>
                </th>
                <th>
                    <p class="text-secondary"> State</p>
                </th>
                <th>
                    <p class="text-secondary">Submit Time</p>
                </th>
                <th>
                    <p class="text-secondary">Version</p>
                </th>
                <th>
                    <p class="text-secondary">Fix Time</p>
                </th>
                @if (!ViewBag.msg.Equals("user") && !ViewBag.msg.Equals("no"))
                {
                    <th>
                        <p class="text-secondary"> Assignee Email</p>
                    </th>
                    <th>
                        <p class="text-secondary">User Email</p>
                    </th>
                }

            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.title)
                </td>
                <td>
                    @Html.DisplayFor(model => model.severity)
                </td>
                <td>
                    @Html.DisplayFor(model => model.state)
                </td>
                <td>
                    @Html.DisplayFor(model => model.submit_time)
                </td>
                <td>
                    @Html.DisplayFor(model => model.version)
                </td>
                <td>
                    @Html.DisplayFor(model => model.fix_time)
                </td>
                @if (!ViewBag.msg.Equals("user") && !ViewBag.msg.Equals("no"))
                {
                    <td>
                        @Html.DisplayFor(model => model.Assignee1.email)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.User.email)
                    </td>
                }
            </tr>
        </table>
        <table>
            <tr>
                <th>
                    <p class="text-secondary"> User Description </p>
                </th>
                <th>
                    <p class="text-secondary">Fix Description </p>
                </th>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(model => model.description, new { @readonly = "readonly" })
                </td>
                <td>
                    @Html.TextAreaFor(model => model.fix_description, new { @readonly = "readonly" })
                </td>
            </tr>
        </table>
    </div>
</div>
<hr />
<div class="row top-buffer col-md-12">
    <div class="col col-md-12">
        <p class="text-secondary">Image of the issue</p>
    </div>
</div>

@if (ViewBag.imgurl != null)
{
    foreach (String s in ViewBag.imgurl)
    {
        if (s != null)
        {
            <div class="row col-md-12 top-buffer">
                <div class="col col-md-12">
                    <img src="@s" class="img-fluid" alt="Responsive image" />
                </div>
            </div>
        }
    }
}


<div class="row top-buffer text-center col-md-12">


    @if (!ViewBag.msg.Equals("no") && !ViewBag.msg.Equals("user"))
    {
        if (ViewBag.msg.Equals("admin") || (Model.assignee != null && Model.assignee.Equals(ViewBag.clrassignee)))
        {<div class="col col-md-6">
                <a href="@ViewBag.urlPrev" class="btn btn-outline-primary">Previous Page</a>
            </div>
            <div class="col col-md-6">
                @Html.ActionLink("Edit", "Edit", new { id = Model.title, prevPage = Request.Url.ToString() }, new { @class = "btn btn-outline-primary" })
            </div>
        }
        else
        {
            <div class="col col-md-12">
                <a href="@ViewBag.urlPrev" class="btn btn-outline-primary">Previous Page</a>
            </div>
        }
    }
    else
    {
        <div class="col col-md-12">
            <a href="@ViewBag.urlPrev" class="btn btn-outline-primary">Previous Page</a>
        </div>
    }



</div>
