@model BugTracker.Models.Bug

@{
    ViewBag.Title = "Details";
}
<!--Display değişecek-->
<h2>Details</h2>
<div>
    <!--Display image-->
    <h4>Bug</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.severity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.severity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.submit_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submit_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fix_time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fix_time)
        </dd>

        @if (!ViewBag.msg.Equals("user") && !ViewBag.msg.Equals("no"))
        {

            <dt>
                @Html.DisplayNameFor(model => model.Assignee1.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Assignee1.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.email)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fix_description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fix_description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            <img src="@ViewBag.imgurl" width="800" height="800" />
        </dd>

    </dl>
</div>
<p>
    <ul>
        @if (!ViewBag.msg.Equals("no") && !ViewBag.msg.Equals("user"))
        {
            <li>  @Html.ActionLink("Edit", "Edit", new { id = Model.title, prevPage = Request.Url.ToString() })</li>
        }
        <li><a href="@ViewBag.urlPrev">Previous Page</a></li>
    </ul>
</p>
