@model BugTracker.Models.Bug
@{
    ViewBag.Title = "Edit";
}

<div class="row col-md-12 top-buffer">
    <div class="col col-md-12">
        <h3 class="display-4">Edit Bug</h3>
    </div>
</div>
<div class="row col-md-12 top-buffer">
    <div class="col col-md-12">
        <h1 class="text-secondary">Editing:"@Model.title"</h1>
    </div>
</div>

@using (Html.BeginForm("Edit", "Bugs", FormMethod.Post, new { enctype = "multipart/form-data", name = "edit" }))
{

    if (!ViewBag.msg.Equals("no") && !ViewBag.msg.Equals("user"))
    {
        if ((ViewBag.msg.Equals("assignee") && (Model.assignee != null && Model.assignee.Equals(ViewBag.clrassignee))) || ViewBag.msg.Equals("admin"))
        {


            <input type="hidden" name="prevPage" value="@ViewBag.urlPrev" />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.submitter)

            @Html.HiddenFor(model => model.submit_time)

            @Html.HiddenFor(model => model.fix_time)
            @Html.HiddenFor(model => model.id)
            <div class="row col-md-12 top-buffer">
                <div class="col col-md-12">
                    <p class="text-secondary">Title</p>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col col-md-12">
                    @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", maxlength = 255, name = "title" } })
                    @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row col-md-12 top-buffer">
                <div class="col-md-12">
                    <p class="text-secondary">Currently Assigned</p> <b> @Model.assignee</b>
                </div>

            </div>
            <div class="row col-md-12 top-buffer">
                <div class="col-md-4">
                    <p class="text-secondary">Version</p>
                </div>
                <div class="col-md-4">
                    <p class="text-secondary">Severity</p>
                </div>
                <div class="col-md-4">
                    @if (ViewBag.msg.Equals("admin"))
                    {
                        <p class="text-secondary">Assignee</p>}
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col col-md-4">
                    @Html.EditorFor(model => model.version, new { htmlAttributes = new { @class = "form-control", maxlength = 45, name = "version" } })
                    @Html.ValidationMessageFor(model => model.version, "", new { @class = "text-danger" })
                </div>

                <div class="col col-md-4">
                    <b>Trivial</b> @Html.RadioButtonFor(model => model.severity, "Trivial")
                    <b>Minor</b> @Html.RadioButtonFor(model => model.severity, "Minor")
                    <b>Major</b> @Html.RadioButtonFor(model => model.severity, "Major")
                    <b>Critical</b> @Html.RadioButtonFor(model => model.severity, "Critical")
                </div>
                @if (ViewBag.msg.Equals("admin"))
                {
                    <div class="col col-md-4">
                        @Html.DropDownList("assignee", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.assignee, "", new { @class = "text-danger" })
                    </div> }
                else
                {

                    @Html.HiddenFor(model => model.assignee)
                }
            </div>


            <!--Can be changed by assignee and admin-->

            <div class="row top-buffer col-md-12">
                <div class="col-md-6">
                    <p class="text-secondary">Fix Description</p>
                </div>
                <div class="col-md-6">
                    <p class="text-secondary">Description</p>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.fix_description, new { htmlAttributes = new { @class = "form-control", maxlength = 4000, name = "fdescription" } })
                    @Html.ValidationMessageFor(model => model.version, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.description, new { htmlAttributes = new { @class = "form-control", maxlength = 4000, name = "description" } })
                    @Html.ValidationMessageFor(model => model.version, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row-md-12 top-buffer">
                <div class="col col-md-12">
                    <p class="text-secondary">Image of the Issue</p>
                </div>
            </div>

            if (ViewBag.imgurl != null)
            {
                int i = 0;
                foreach (String s in ViewBag.imgurl)
                {
                    if (s != null)
                    {
                        <div class="row col-md-12 top-buffer">
                            <div class="col col-md-12">
                                <img src="@s" class="img-fluid" alt="Responsive image" />
                            </div>
                        </div>
                        <div class="row col-md-12 text-center top-mini">
                            <div class="col col-md-12">
                                @Html.ActionLink("Delete", "DeleteImg", new { id = ViewBag.imgid[i], prevPage = Request.Url.ToString() }, new { @class = "btn btn-outline-primary" })
                            </div>
                        </div>
                        <hr/>
                        <hr/>
                        i++;
                    }
                }
            }


            <div class="row col-md-12 top-buffer">
                <div class="col col-md-12">
                    <input type="file" name="postedFile" multiple />
                </div>
            </div>
            <div class="row col-md-12 top-buffer text-center">
                <div class="col col-md-6">
                    <a href="@ViewBag.urlPrev" class="btn btn-outline-primary">Previous Page</a>
                </div>
                <div class="col col-md-6">
                    <input type="submit" value="Save" class="btn btn-outline-primary" />
                </div>

            </div>
        }
    }
}
